.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons > * {
    margin-right: 10px;
}

.content-container p {
    margin: 0;
    color: black !important;
}