.cabecera{
    background: #7a647a;
    height: 2.8rem;
    border-radius: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar-nav {
    display: flex;
    padding-top: 0.3rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar-nav-link {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    margin-left: 2rem;
}

.navbar-nav-link img{
    width: 10rem;
}

@media (max-width: 430px) {
    .navbar-nav-link img {
        width: 8rem;
        margin-left: -1rem;
    }
    .navbar-right-links{
        font-size: 0.75rem;
    }
} 

.navbar-right-links {
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}  

.activo {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.5rem;
}

.redes{
    margin-left: 0.75rem;
}  